<div class="bg-light" style="height: 100vh;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pt-2">
        <div class="col-sm-12 text-center">
          <h3>Listagem de Seguros</h3>
        </div>
        <form class="row align-items-center">
          <div class="form-group col col-md-6">
            <label for="nomeCliente">CPF do Cliente</label>
            <input class="form-control shadow-sm rounded-0" name="nomeCliente" [(ngModel)]="seletor.cpfCliente">
          </div>
          <div class="form-group col col-md-6">
            <label for="placaVeiculo">Placa Veículo</label>
            <input class="form-control shadow-sm rounded-0" name="placaVeiculo" [(ngModel)]="seletor.placaVeiculo">
          </div>
          <div class="form-group col col-md-6">
            <label for="dtInicioComecoVigencia">Data Inicial de Inicio de Vigência</label>
            <input class="form-control shadow-sm rounded-0" type="date" name="dtInicioComecoVigencia" [(ngModel)]="seletor.dtInicioComecoVigencia">
          </div>
          <div class="form-group col col-md-6">
            <label for="dtFimComecoVigencia">Data Final de Inicio de Vigência</label>
            <input class="form-control shadow-sm rounded-0" type="date" name="dtFimComecoVigencia" [(ngModel)]="seletor.dtFimComecoVigencia">
          </div>
          <div class="form-group col col-md-6">
            <label for="dtInicioFimVigencia">Data Inicial de Fim de Vigência</label>
            <input class="form-control shadow-sm rounded-0" type="date" name="dtInicioFimVigencia" [(ngModel)]="seletor.dtInicioFimVigencia">
          </div>
          <div class="form-group col col-md-6">
            <label for="dtFimFimVigencia">Data Final de Fim de Vigência</label>
            <input class="form-control shadow-sm rounded-0" type="date" name="dtFimFimVigencia" [(ngModel)]="seletor.dtFimFimVigencia">
          </div>
          <div class="form-group col col-md-6">
            <label for="rcfDanosMateriais">RCF Danos Materiais</label>
            <input class="form-control shadow-sm rounded-0" name="rcfDanosMateriais" [(ngModel)]="seletor.rcfDanosMateriais">
          </div>
          <div class="form-group col col-md-6">
            <label for="rcfDanosCorporais">RCF Danos Corporais</label>
            <input class="form-control shadow-sm rounded-0" name="rcfDanosCorporais" [(ngModel)]="seletor.rcfDanosCorporais">
          </div>
          <div class="form-group col col-md-4">
            <label for="franquia">Franquia</label>
            <input class="form-control shadow-sm rounded-0" name="franquia" [(ngModel)]="seletor.franquia">
          </div>
          <div class="form-group col col-md-4">
            <label for="assistencia">Assistência</label>
            <input class="form-control shadow-sm rounded-0" name="assistencia" [(ngModel)]="seletor.assistencia">
          </div>
          <div class="form-group col col-md-4">
            <label for="carroReserva">Carro Reserva</label>
            <input class="form-control shadow-sm rounded-0" name="carroReserva" [(ngModel)]="seletor.carroReserva">
          </div>
          <div class="form-group col pt-3 col-md-2">
            <button type="sumbit" name="btnrelatorio" class="form-control btn btn-success mb-3 rounded-0 shadow-sm" (click)="exportExcel()">Relatório</button>
          </div>
          <div class="form-group col pt-3 col-md-5">
            <button type="sumbit" name="btnsubmit" class="form-control btn btn-warning mb-3 rounded-0 shadow-sm" (click)="limpar()">Limpar</button>
          </div>
          <div class="form-group col pt-3 col-md-5">
            <button type="sumbit" class="form-control btn btn-primary mb-3 rounded-0 shadow-sm" (click)="pesquisar()">Pesquisar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md pt-2">
        <div class="table-responsive rounded-0 border border-light">
          <table id="tabelaSeguros" class="table table-responsive table-striped table-hover table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col" class="text-center">Nome Cliente</th>
                <th scope="col" class="text-center">Placa Veículo</th>
                <th scope="col" class="text-center">Data Início - Fim de Vigência</th>
                <th scope="col" class="text-center">RCF Danos Materiais</th>
                <th scope="col" class="text-center">RCF Danos Corporais</th>
                <th scope="col" class="text-center">Franquia</th>
                <th scope="col" class="text-center">Assistência</th>
                <th scope="col" class="text-center">Carro Reserva</th>
                <th scope="col" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of seguros">
                <td class="text-center align-middle">{{s.cliente.nome}}</td>
                <td class="text-center align-middle">{{s.veiculo.placaVeiculo}}</td>
                <td class="text-center align-middle">{{s.dtInicioVigencia | date: 'dd/MM/yyyy'}} - {{s.dtFimVigencia | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center align-middle">{{s.rcfDanosMateriais}}</td>
                <td class="text-center align-middle">{{s.rcfDanosCorporais}}</td>
                <td class="text-center align-middle">{{s.franquia}}</td>
                <td class="text-center align-middle">{{s.assistencia}}</td>
                <td class="text-center align-middle">{{s.carroReserva}}</td>
                <td class="text-center align-middle">
                  <button name="inspecionar" class="btn btn-sm btn-primary shadow-sm" data-toggle="tooltip" data-placement="top" title="Inspecionar" (click)="inspecionar()" disabled>
                    <img src="https://imgur.com/FSJgeji.png" width="15" class="pb-1 align-items-center"/>
                  </button>
                  <button name="editar" class="btn btn-sm btn-warning m-1 shadow-sm" data-toggle="tooltip" data-placement="top" title="Editar" (click)="editar(s.id)">
                    <img src="https://i.imgur.com/9H2mwRv.png" width="15" class="pb-1 align-items-center"/>
                  </button>
                  <button name="deletar" class="btn btn-sm btn-danger shadow-sm" data-toggle="tooltip" data-placement="top" title="Excluir" (click)="excluir(s.id)">
                    <img src="https://i.imgur.com/JnmcPWf.png" width="15" class="pb-1 align-items-center">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
