<div class="has-bg-img">
  <div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 pt-4">
        <div class="card bg-light border border-secondary">
          <div class="card-header bg-light text-black">
            <h5>Filtros</h5>
          </div>
          <div class="card-body card-info">
            <form class="row align-items-start">
              <div class="form-group col col-md-4">
                <label for="marca" class="text-black">Marca</label>
                <input class="form-control" name="marca" [(ngModel)]="seletor.marca">
              </div>
              <div class="form-group col col-md-4">
                <label for="modelo" class="text-black">Modelo</label>
                <input class="form-control" name="modelo" [(ngModel)]="seletor.modelo">
              </div>
              <div class="form-group col col-md-2">
                <label for="combustivel" class="text-black">Combustível</label>
                <input class="form-control" name="combustivel" [(ngModel)]="seletor.combustivel">
              </div>
              <div class="form-group col col-md-2">
                <label for="menorAnoModelo" class="text-black">Menor Ano Modelo</label>
                <input class="form-control" name="menorAnoModelo" [(ngModel)]="seletor.menorAnoModelo">
              </div>
              <div class="form-group col col-md-2">
                <label for="maiorAnoModelo" class="text-black">Maior Ano Modelo</label>
                <input class="form-control" name="maiorAnoModelo" [(ngModel)]="seletor.maiorAnoModelo">
              </div>
              <div class="form-group col col-md-2">
                <label for="placaVeiculo" class="text-black">Placa veículo</label>
                <input class="form-control" name="placaVeiculo" [(ngModel)]="seletor.placaVeiculo">
              </div>
              <div class="form-group col col-md-2">
                <label for="menorValor" class="text-black">Menor Valor</label>
                <input class="form-control" name="menorValor" [(ngModel)]="seletor.menorValor">
              </div>
              <div class="form-group col col-md-2">
                <label for="maiorValor" class="text-black">Maior Valor</label>
                <input class="form-control" name="maiorValor" [(ngModel)]="seletor.maiorValor">
              </div>
              <div class="form-group col pt-4 col-md-4">
                <button type="sumbit" class="form-control btn btn-warning mb-3" (click)="limpar()">Limpar</button>
              </div>
              <div class="form-group col pt-4 col-md-4">
                <button type="sumbit" class="form-control btn btn-primary mb-3" (click)="pesquisar()">Pesquisar</button>
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      <div class="card bg-light border border-secondary">
        <div class="card-header ">
          <h3 class="text-black">Lista de Veiculos</h3>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <div class="table-responsive">
                <table class="table table-responsive table-striped table-light table-hover text-black">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col" class="text-center">Marca</th>
                        <th scope="col" class="text-center">Modelo</th>
                        <th scope="col" class="text-center">Ano Modelo</th>
                        <th scope="col" class="text-center">Combustível</th>
                        <th scope="col" class="text-center">Valor</th>
                        <th scope="col" class="text-center">Placa veículo</th>
                        <!-- https://getbootstrap.com/docs/5.3/utilities/text/ -->
                        <th class="text-center">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let v of veiculos">
                        <td>{{v.id}}</td>
                        <td class="text-center">{{v.marca}}</td>
                        <td class="text-center">{{v.modelo}}</td>
                        <td class="text-center">{{v.anoModelo | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{v.combustivel}}</td>
                        <td class="text-center">{{v.valor}}</td>
                        <td class="text-center">{{v.placaVeiculo}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
