<div class="has-bg-img">
  <div class="bg-img bg-cover img-fluid" style="background-image: url('https://i.imgur.com/WFbPLt7.jpeg'); height: 100vh;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-2">
        <div class="card bg-dark border border-secondary">
          <div class="card-header bg-dark text-white">
            <h5>Filtros</h5>
          </div>
          <div class="card-body card-info">
            <form class="row align-items-start">
              <div class="form-group col col-md-4">
                <label for="nome" class="text-white">Nome</label>
                <input class="form-control" name="nome" [(ngModel)]="seletor.nome">
              </div>
              <div class="form-group col col-md-4">
                <label for="nomeFabricante" class="text-white">CPF</label>
                <input class="form-control" name="nomeFabricante" [(ngModel)]="seletor.cpf">
              </div>
              <div class="form-group col col-md-4">
                <label for="nomeFabricante" class="text-white">Data de Nascimento Inicial</label>
                <input class="form-control" name="nomeFabricante" [(ngModel)]="seletor.dataNascimentoInicial">
              </div>
              <div class="form-group col col-md-4">
                <label for="pesoMinimo" class="text-white">Data de Nascimento Final</label>
                <input class="form-control" name="pesoMinimo" [(ngModel)]="seletor.dataNascimentoFinal">
              </div>
              <div class="form-group col pt-4 col-md-4">
                <button type="sumbit" class="form-control btn btn-warning mb-3" (click)="limpar()">Limpar</button>
              </div>
              <div class="form-group col pt-4 col-md-4">
                <button type="sumbit" class="form-control btn btn-primary mb-3" (click)="pesquisar()">Pesquisar</button>
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12 pt-2">
      <div class="card bg-dark border border-secondary">
        <div class="card-header ">
          <h3 class="text-white">Lista de Clientes</h3>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <div class="table-responsive">
                <table class="table table-responsive table-striped table-dark table-hover text-white">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">CPF</th>
                        <th scope="col" class="text-center">Data de Nascimento</th>
                        <!-- https://getbootstrap.com/docs/5.3/utilities/text/ -->
                        <th class="text-center">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of clientes">
                        <td>{{c.id}}</td>
                        <td class="text-center">{{c.nome}}</td>
                        <td class="text-center">{{c.cpf | cpf}}</td>
                        <td class="text-center">{{c.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                        <!-- <td class="text-center">
                          <button class="btn btn-xs btn-secondary mr-12" (click)="editar(p.id)">Editar</button>
                          &nbsp;
                          <button class="btn btn-xs btn-danger" (click)="excluir(p.id)">Excluir</button>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
